#
# IDE/editors
#
.idea

# VisualStudioCode
.vscode/*
**.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#
# OS
#
.DS_Store

# build
artifacts.txt
changed.txt
commit-message.txt
cover.out
coverage.out
coverage.txt
dist/
.scannerwork/
engine-ci-*
main
trivy.json