#
# IDE/editors
#
.idea

# VisualStudioCode
.vscode/*
**.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#
# OS
#
.DS_Store

# build
.claude
artifacts.txt
claude-actions.log
claude-output.log
commit-message.txt
cover.out
coverage.out
coverage.txt
dist/
.scannerwork/
engine-ci-*
trivy.json