#
# IDE/editors
#
.idea

# VisualStudioCode
.vscode/*
**.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#
# OS
#
.DS_Store

# build
cover.out
coverage.txt
dist/
.scannerwork/
engine-ci-*
trivy.json