name: Build with ContainifyCI workflow

on:
  workflow_call:

jobs:
  build:
    name: Build
    uses: containifyci/engine-ci/.github/workflows/engine-ci-workflow.yml@v0
    secrets: inherit
    permissions:
      contents: write # for checkout
      pull-requests: write # for updating pr
    with:
      install_binary: true
