name: Reusable ContainifyCI workflow

on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build-go:
    name: Build Go ${{ matrix.runtime }}
    uses: ./.github/workflows/engine-ci-workflow.yml
    secrets: inherit
    # runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
        - runtime: docker
          is_uploader: true
          ai_enabled: true
        - runtime: podman
          is_uploader: false
          ai_enabled: false
    permissions:
      contents: write # for checkout
      id-token: write # for authenticating to Google Cloud Platform
      pull-requests: write # for updating pr
    with:
      dockerhub_user: "containifyci"
      runtime: ${{ matrix.runtime }}
      upload_artifacts: ${{ matrix.is_uploader }}
      ai_enabled: ${{ matrix.ai_enabled }}
      engine_command: "go run --tags containers_image_openpgp,exclude_graphdriver_btrfs main.go"
      install_binary: false
      remote_debug: true
      remote_debug_user: "fr12k"
